/*
Theme Name: BASIC MJ
Author: Marius Jopen
Author URI: http://www.mariusjopen.com
Description: BASIC MJ
Version: 1.0
*/

@font-face {
    font-family: 'Futura Md BT';
    src: url('assets/fonts/FuturaBT-Medium.woff2') format('woff2'),
        url('assets/fonts/FuturaBT-Medium.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Futura Bk BT';
    src: url('assets/fonts/FuturaBT-Book.woff2') format('woff2'),
        url('assets/fonts/FuturaBT-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}