

.woocommerce {
    @extend ._h1;
}

.woocommerce-MyAccount-navigation {
    padding-top: 17px;
    // margin-bottom: 65px;
    padding-bottom: 40px;
    border-bottom: 1px solid black;
    margin-bottom: 15px;

    .is-active a {
        color: $red;
    }

}

.woocommerce-notices-wrapper {
    padding-bottom: 0px !important;
    padding-top: 0px;
}

.woocommerce-Addresses {
    padding-top: 15px;
}

.woocommerce-MyAccount-content {
    span {
        display: flex;
    }

    label {
        display: inline-flex;
    }

    input {
        display: inline;
        width: 50%;
    }

    a {
        color: $red;
    }
}

.woocommerce-cart-form,
.cart-collaterals {
    a {
        color: $red;
    }
}

.cart-collaterals {
    margin-top: 100px;
    border-top: 1px solid black;

    th {
        text-align: left;
        font-weight: normal;
        vertical-align: baseline;
        min-width: 188px;
    }
}

.account-orders-table {
    width: 100%;
    @extend ._h3;


}

tr {
    height: 50px;
}

th {
    text-align: left;
    font-weight: normal;
    vertical-align: baseline;
}

td {
    vertical-align: baseline;
    // padding-top: 20px;
}


.shop_table {
    width: 100%;
}



.shop_table {
    width: 100%;
    // border-top: 1px solid black;
    // padding-top: 14px;
}

.woocommerce-customer-details {
    border-top: 1px solid black;
    margin-top: 10px;
}

.product-thumbnail {
    display: none;
}

.product-name a {
    pointer-events: none;
    color: black;
}

.product-remove a {
    color: black;
}


.product-remove {
    margin-right: 20px;
    display: table;
}

.product-quantity {
    width: 25%;
    .screen-reader-text {
        display: none !important;
    }
}

.product-price {
    width: 25%;
}

.product-subtotal {
    width: 13%;
}

.product-name {
    width: 28%;
}

.quantity {

    .input-text {
        width: 100%;
    }

    input {
        color: black !important; 

    }
}
.woocommerce-form-coupon-toggle {
    display: none;
}


.coupon {
    padding-bottom: 0px !important;
}

.woocommerce-error {
    padding-top: 17px;
    color: $red;
}

.wc-backward {
    color: $red;
}
.woocommerce-checkout {
    padding-top: 8px !important;
}

.woocommerce-cart-form {
    padding-top: 17px;
}

.woocommerce-billing-fields {
    h3 {
        margin-bottom: 20px;
    }
}

.cart-empty.woocommerce-info {
padding-top: 17px;
}

#customer_login h2 {
    margin-bottom: 50px;
}

.woocommerce-page .woocommerce div {
    padding-bottom: 50px;
}