$width: 550px;
$distance-bottom: 150px;

$f-padding: 7px;
$s-padding: 10px;
$m-padding: 20px;
$b-padding: 60px;
$u-padding: 80px;

$dark-grey: #333333;
$light-grey:rgb(190, 190, 190);
$black: #111111;
$red: #e8361b;
$grey: #ababab;

$break-phone: 600px;
$break-ipad: 1000px;
$break-super-big: 1300px;

